* {
    color: #c6dff7;
}

.background {
    border: 1px solid #89dceb;
    background: rgba(30, 30, 46, 0.8);

    border-radius: 10px;
}

/*general things {{{*/
box {
    padding-bottom: 5px;
    /* background-color: #21143e; */
}

.btn {
    border: 1px solid;
    border-radius: 30px;
}
.btn:hover {
    background-color: #392d5a;
}

.monospace {
    font-family: monospace;
}
/*}}}*/

/*homelab {{{*/
.homelab-item-title {
    font-size: 2em;
}
/*}}}*/

/*hyprland-bar-* {{{*/
.workspace {
    border-bottom: 1px solid currentColor;
}

.basic-info:nth-child(1) {
    border-top: 1px solid ;
}
.basic-info {
    border-bottom: 1px solid ;
    padding: 5px 0;
}

.vpn-connected-text {
    color: #afd1b7;
}

.unfocused-workspace {
    color: #c6dff7;
}

.focused-workspace, .focused-item {
    color: #fab387;
}

.temp-0, .temp-1, .temp-2, .temp-3, .temp-4 {
    color: #afd1b7;
}

.temp-5, .temp-6, .temp-7 {
    color: #b4befe;
}

.temp-8, .temp-9, .temp-10 {
    color: #fab387;
}

progressbar.temp-8 progress,
progressbar.temp-9 progress,
progressbar.temp-10 progress {
    background-color: #fab387;
}

progressbar.temp-5 progress,
progressbar.temp-6 progress,
progressbar.temp-7 progress
{
    background-color: #b4befe;
}

progressbar.temp-4 progress,
progressbar.temp-3 progress,
progressbar.temp-2 progress,
progressbar.temp-1 progress,
progressbar.temp-0 progress
{
    background-color: #afd1b7;
}

/*MUST come after the other progress bar things because specificity*/
.muted-true progressbar progress{
    background-color: #f38ba8;
}
.muted-true label{
    color: #f38ba8;
}
/*}}}*/
