@import "../COMMON/colors.scss";

//default scrollbar styling
* {
  scrollbar-color: $pink $main;
  font-family: sans-serif;
}

/*make dark mode on every website*/
// @-moz-document url-prefix("http") {
//     *{
//         color: var(--text-color);
//         background-color: var(--main);
//     }
//
//     mark {
//         color: var(--secondary);
//         background-color: var(--highlight);
//     }
//
//     input, textarea{
//         background-color: var(--secondary) ;
//         border: 1px solid currentColor ;
//         color: var(--text-color) ;
//     }
//
//     a {
//         color: var(--link-color) ;
//         text-decoration: underline ;
//         background-color: var(--main) ;
//     }
//
//     cite {
//         color: var(--link-color) ;
//         text-decoration: none ;
//         background-color: var(--main) ;
//     }
//
//     *::after, *::before {
//         background: transparent ;
//         color: var(--text-color) ;
//     }
// }



// @-moz-document domain("brave.com") {
//     :root, ::backdrop {
//         color-scheme: dark !important;
//         --body-bg: var(--main) !important;
//         --bg-glassy: var(--main) !important;
//         --bg-1: var(--secondary) !important;
//         --bg-2: var(--main) !important;
//         --bg-02: var(--main) !important; /* this is the 02 color from the Brave Design System */
//         --bg-04: var(--main) !important;
//         --bg-green: var(--green) !important;
//         --bg-blue: var(--sky) !important;
//         --bg-red: var(--pink) !important;
//         --bg-favicon: var(--secondary-bright) !important;
//         --bg-scrim: var(--main) !important;
//
//         --bg-form-control-selected: var(--lavender) !important;
//         --bg-form-control-unselected: var(--secondary-bright) !important;
//         --form-control-selected: var(--mauve) !important;
//         --form-control-hover: var(--secondary-bright) !important;
//         --form-control-focus: var(--lavender) !important;
//
//         /**
//          * Search widget styles
//          */
//
//     /**
//      * Settings drawer styles
//      */
//     --settings-header-bg: var(--main) !important;
//     --settings-header-text: var(--text-color) !important;
//     --settings-header-icon: var(--text-color) !important;
//     --settings-widget-text: var(--text-color) !important;
//     --settings-item-text: var(--text-color) !important;
//     --settings-item-icon: var(--lavender) !important;
//     --settings-item-border: var(--main) !important;
//     --settings-item-border-2: var(--secondary) !important;
//     --settings-dark-theme-btn: var(--secondary) !important;
//     --settings-btn-bg: var(--secondary) !important;
//     --settings-btn-text: var(--text-color) !important;
//     --settings-widget-outline: var(--secondary) !important;
//     --settings-independent-score: var(--mauve) !important;
//     --settings-global-score: var(--peach) !important;
//     --brave-supporter-bg: var(--main) !important;
//     --brave-supporter-text: var(--sky) !important;
//
//     --context-menu-header-border: var(--secondary-bright) !important;
//
//     --color-primary: var(--text-color) !important;
//     --color-primary-2: var(--text-color) !important;
//     --color-primary-3: var(--text-color) !important; /* this variable should go away */
//     --color-white: var(--text-color) !important;
//     --color-gray-2: var(--secondary-bright) !important;
//     --color-gray-3: var(--secondary-bright) !important;
//     --color-gray-4: var(--secondary-bright) !important;
//     --color-gray-5: var(--secondary-bright) !important; /* this variable should go away */
//     --color-gray-6: var(--secondary-bright) !important;
//     --color-green: var(--green) !important;
//     --color-red: var(--red) !important;
//     --color-blue: var(--blue) !important;
//     --info-color: var(--text-color) !important; /* Temporary variable name */
//
//     --link-primary: var(--link-color) !important;
//     --link-secondary: var(--link-color) !important;
//     --link-visited: var(--lavender) !important;
//     --snippet-url: var(--text-color) !important; /* Temporary variable name */
//
//     --separator-dot: #808a9d !important;
//
//     /* THEME NEW */
//     --theme-purple: var(--mauve) !important;
//     --theme-yellow: var(--yellow) !important;
//
//     /* Borders related */
//     --border-color: #333 !important;
//
//     /* Brave UI Design System */
//     --blurple-300: var(--lavender) !important;
//     --text-01: var(--text-color) !important;
//     --text-02: var(--secondary-bright) !important;
//     --text-03: var(--secondary-bright) !important;
//     --interactive-04: var(--lavender) !important;
//     --interactive-05: var(--lavender) !important;
//     --interactive-06: var(--lavender) !important;
//     --interactive-07: var(--text-color) !important;
//     --interactive-08: var(--secondary) !important;
//     --focus-border: var(--lavender) !important;
//     --divider-01: var(--secondary) !important;
//     --disabled: var(--secondary) !important;
//
//     /* Brave UI Design System Derivatives */
//     --btn-filled-bg: var(--interactive-05) !important;
//     --btn-filled-bg-hover: var(--interactive-06) !important;
//     --btn-filled-text-active: var(--text-color) !important;
//     --btn-filled-bg-active: var(--mauve) !important;
//     --btn-filled-text-disabled: #677078 !important;
//
//     --btn-outline-border: var(--interactive-08) !important;
//     --btn-outline-border-hover: var(--interactive-06) !important;
//     --btn-outline-text: var(--interactive-07) !important;
//     --btn-outline-text-hover: var(--blurple-300) !important;
//     --btn-outline-text-active: var(--lavender) !important;
//     --btn-outline-border-active: var(--mauve) !important;
//     --btn-outline-text-disabled: #495057 !important;
//
//     --btn-icon-svg-hover: var(--mauve) !important;
//     --btn-icon-bg-hover: var(--lavender) !important;
//     --btn-icon-svg-active: var(--lavender) !important;
//
//     /* CODE SNIPPETS THEME */
//     --code-bg-0: var(--main) !important;
//     --code-border: var(--main) !important;
//     --code-color-1: var(--secondary-bright) !important;
//     --code-color-2: var(--text-color) !important;
//     --code-color-3: var(-green) !important;
//     --code-color-4: var(--blue) !important;
//     --code-color-5: var(--mauve) !important;
//
//     /* SHADOWS */
//     --shadow-1: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16) !important;
//     --shadow-2: 0 1px 6px rgba(32, 33, 36, 0.28) !important;
//
//     /* New Color Scheme */
//     --search-bgd-01: var(--main) !important;
//     --search-bgd-02: var(--main) !important;
//     --search-bgd-03: var(--main) !important;
//     --search-bgd-04: var(--secondary) !important;
//     --search-bgd-05: var(--secondary) !important;
//     --search-bgd-06: var(--secondary) !important;
//     --search-bgd-07: var(--secondary) !important;
//     --search-bgd-08: var(--secondary) !important;
//     --search-line-01: var(--secondary-bright) !important;
//     --search-line-02: var(--secondary) !important;
//     --search-text-01: var(--text-color) !important;
//     --search-text-02: var(--text-color) !important;
//     --search-text-03: var(--secondary-bright) !important;
//     --search-text-04: var(--secondary-bright) !important;
//     --search-text-05: var(--secondary-bright) !important;
//     --search-text-06: var(--secondary-bright) !important;
//     --search-text-09: var(--warn) !important;
//     --search-text-10: var(--error) !important;
//     --search-interactive-01: var(--blue) !important;
//     --search-interactive-02: var(--lavender) !important;
//     --search-interactive-03: var(--lavender) !important;
//     --search-interactive-04: var(--blue) !important;
//     --search-interactive-05: var(--lavender) !important;
//
//     /* Leo Design system colors */
//     --gray-30: var(--main) !important;
//     --gray-60: var(--secondary-bright) !important;
//     --gray-90: var(--secondary-bright) !important;
//     --gray-110: var(--text-color) !important;
//     --gray-120: var(--text-color) !important;
//     --green-40: var(--green) !important;
//
//     --secondary-90: var(--lavender) !important;
// }
// }

// @-moz-document domain("brave.com") {
//     :root {
//         --color-primary: var(--main) !important;
//         --color-gray-3: var(--text-color) !important;
//     }
//     
//     .img-title{
//         color: var(--secondary-bright) !important;
//     }
//
//     #site-header {
//         background: var(--main) !important;;
//     }
//     
//     #search-main,
//     body,
//     main{
//         background: var(--main) !important;
//     }
//     
//     #searchbox{
//         background: var(--secondary) !important;
//         color: var(--warn) !important;
//     }
//     
//     #searchform{
//         background: var(--secondary) !important;
//     }
//     #searchform #submit-button{
//         display: none !important;
//     }
//     #clear-query-button *{
//         fill: var(--warn) !important;
//     }
//     
//     .searchbox-wrapper:after{
//         content: unset !important;
//     }
//     
//     /*auto result things*/
//     [data-type=rich],
//     [data-subtype]{
//         background: var(--main) !important;
//         border: 1px solid var(--secondary) !important;
//     }
//     [data-type=rich] .snippet{
//         background: var(--main) !important;
//     }
//     :is([data-type=rich], [data-subtype]) *{
//         color: var(--secondary-bright) !important;
//     }    
//     :is([data-type=rich], [data-subtype]) footer{
//         background: var(--main) !important;
//     }
//     
//     /*global results toggle*/
//     #global-toggle{
//         color: var(--link-color) !important;
//     }
//     
//     /*filters*/
//     .filter-name{
//         color: var(--secondary) !important;
//         filter: brightness(130%) !important;
//     }
//     #search-filters{
//         background: var(--main) !important;
//     }
//     
//     /*weird area for filters*/
//     div[class]:has(#search-filters){
//         background: var(--main) !important;
//         padding: 0 !important;
//     }
//     
//     /*wonky padding next to filters*/
//     .container-80{
//         background: var(--main) !important;
//         max-width: unset !important; /*why the hell is there a max-width on this*/
//     }
//     
//     /*stuff like the images tab*/
//     #navbar-tabs{
//         background: var(--main) !important;
//         border-color: var(--secondary) !important;
//     }
//     
//     #nav-tabs a .icon-wrapper,
//     #nav-tabs a .icon-wrapper ~ span {
//         color: var(--leaf) !important;
//     }
//     
//     /*make selected tab green instead of orange*/
//     #nav-tabs li.active a span,
//     #nav-tabs li.active a svg *{
//         color: var(--warn) !important;
//         fill: var(--warn) !important;
//     }
//     #nav-tabs li.active a::after{
//         background: var(--warn) !important;
//     }
//     
//     /*make autocomplete none*/
//     #autocomplete div {
//         display: none;
//     }
//
//     /*when searching keep the border round*/
//     #searchform{
//         border-bottom-left-radius: 10px !important;
//         border-bottom-right-radius: 10px !important;
//     }
//     
//     /*annoying popup*/
//     #usage-metrics #notice {
//         display: none  !important;
//     }
//     
//     /*search results*/
//     div.snippet{
//         background: var(--secondary) !important;
//         transition: background 200ms !important;
//     }
//     
//     div.snippet:hover{
//         background: var(--secondary-bright) !important;
//         & .snippet-url .netloc{
//             color: red !important;
//         }
//     }
//     
//     .snippet-url .netloc{
//         color: var(--link-color) !important;
//     }
//     .snippet-title {
//         color: var(--link-color) !important;
//     }
//     .snippet-description{
//         color: var(--main) !important;
//     }
//     
//     /*weird tag-like links*/
//     a.deep-link{
//         color: var(--link-color) !important;
//     }
//     
//     #search-elsewhere{
//         display: none !important;
//     }
//     
//     /*remove margin after search-elsewhere area*/
//     #results > #search-elsewhere + .snippet{
//         margin-top: 0 !important;
//     }
//     
//     /*weird part after the small link that says the subroutes*/
//     .url-path {
//         color: var(--leaf) !important;
//     }
//     
//     #news-carousel .header{
//         display: none !important;
//     }
//     
//     #news-carousel a.card{
//         background: var(--secondary) !important;
//     }
//     
//     #news-carousel .card-body div{
//         color: var(--link-color) !important;
//     }
//     
//     #news-carousel .card-footer span{
//         color: var(--main) !important;
//     }
//     
//     footer{
//         background: var(--main) !important;
//     }
//     
//     /*next arrow*/
//     .slide-button svg{
//         fill: var(--secondary-bright) !important;
//     }
//     .slide-button{
//         background: var(--main) !important;
//         border-color: var(--secondary-bright) !important;
//     }
// }
//
@-moz-document domain("discord.com") {
    :root{
        --mention-background: var(--secondary) !important;
        --mention-foreground: var(--main) !important;
    }

    /*blocks the dumb ad thing*/
    aside[class="banner-3BK9qN"]{
        display: none !important;
    }

    main[class*=chatContent]{
        background: var(--main) !important;
    }

    a:not([data-list-item-id*=private-channels]){
        color: var(--link-color) !important;
    }

    [data-list-item-id*=private-channels] *{
        color: var(--secondary) !important;
    }

    /*messages*/
    div[class*=message][class*=mentioned]{
        background: var(--warn)!important;
        border: 1px solid transparent;
        border-radius: 10px !important;
    }

    /*make mentioned text black*/
    div[class*=message][class*=mentioned] div[id*=message-content]{
        color: var(--main) !important;
    }

    div[class*=message][class*=mentioned] div[id*=message-content] code.inline{
        color: var(--leaf) !important;
    }

    /*remove weird bar on left of mentioned*/
    div[class*=message][class*=mentioned]::before{
        content: unset !important;
    }

    /*input box background*/
    [class*=channelTextArea] [class*=inner]{
        background: var(--secondary) !important;
        font-weight: bold !important;
    }

    /*chat box*/
    [class*=channelTextArea] [class*=inner] *{
        color: var(--leaf) !important;
        fill: var(--leaf) !important;
        caret-color: var(--leaf) !important;
    }

    /*emoji input*/
    [class*=emojiButton] *{
        filter: none  !important;
        background-color : var(--leaf) !important;
        background-image: none !important;
        border: 1px solid transparent;
        border-radius: 50% !important;
    }

    /*channel listing*/
    #channels{
        border-right: 1px solid var(--secondary) !important;
        background-color: var(--main) !important;
    }

    /*channel names*/
    #channels li div[class*=name]{
        color: var(--secondary) !important;
        filter: brightness(190%) !important;
    }

    /*# before channel name*/
    #channels li a path{
        fill: var(--secondary) !important;
    }

    #channels li[class*=selected] a {
        background: none !important
    }

    /*when a channel is selected*/
    #channels li[class*=selected] > div > div{
        background-color: var(--secondary) !important;
    }
    #channels li[class*=selected] > div > div div[class*=name]{
        color: black !important;
    }
    #channels li[class*=selected] a path{
        fill: var(--main) !important;
    }

    /*channel name background color on hover*/
    #channels li:hover > div > div{
        background-color: var(--secondary) !important;
    }
    #channels li:hover > div > div div[class*=name]{
        color: black !important;
    }
    #channels li:hover a path{
        fill: var(--main) !important;
    }

    /*members listing*/
    aside[class*=membersWrap]{
        background: var(--main) !important;
        border-left: 1px solid var(--secondary) !important;
    }

    [class*=members] [class*=member]{
        background: none !important;
    }

    /*server header in top left*/
    nav > div[class*=container-1]{
        background-color: var(--secondary) !important;
    }

    /*channel label*/
    section[aria-label*="Channel"]{
        background: var(--main) !important;
    }

    [aria-label="Servers sidebar"] {
      display: none !important;
    }

    body:has(:is(#channels, [aria-label="Servers sidebar"], [aria-label="Private channels"]):hover) [aria-label="Servers sidebar"] {
      display: unset !important;
    }
}

@-moz-document domain("news.ycombinator.com") {
    /*
     * BEGIN hackernews
     */

    :root {
        --main: #262634;
        --secondary: #646489ff;
        --secondary-bright: #9e9ed9;
        --highlight: #81C8BE;
        --link-color: var(--highlight);
        --highlight-secondary: #689C9A;
        --text-color: white;
        --warn: #F8BD96;
        --error: #7D71B7;
        --leaf: #ABE9B3;
    }

    #hnmain td[bgcolor="#ff6600"], #hnmain td[bgcolor="#ff6600"] * {
        color: transparent !important;
        background: transparent !important;
    }

    #hnmain td[bgcolor="#ff6600"] img {
        display: none !important;
    }

    #hnmain td[bgcolor="#ff6600"]::before {
        content: "HackerNews";
        color: var(--warn);
        margin: 10px !important;
        display: block !important;
        text-align: center;
        font-size: 1.2em;
    }

    #hnmain .comment {
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
    }

    #hnmain form[action="comment"] {
        display: none !important;
    }

    #hnmain .titleline {
        font-size: 1.2em;
        font-weight: bolder;
    }

    #hnmain, body, html {
        background-color: var(--main) !important;
    }

    #hnmain * {
        color: var(--text-color) !important;
    }

    /*
     * END hackernews
     */

}

@-moz-document domain("libreddit"), domain("libreddit.privacydev.net"), domain("libreddit.localhost") {
    body {
        --accent: #babbf1 !important; /* lavender */
        --green: #a6d189 !important; /* green */
        --text: #c6d0f5 !important; /* text */
        --foreground: #232634 !important; /* crust */
        --background: #303446 !important; /* base */
        --outside: #232634 !important; /* crust */
        --post: #232634 !important; /* crust */
        --panel-border: none !important;
        --highlighted: #414559 !important; /* surface0 */
        --visited: #737994 !important; /* overlay0 */
        --shadow: 0 0 0 transparent !important;

        --nsfw: #ef9f76 !important; /* peach */
        --admin: #ea999c !important; /* maroon */
    }
}

// @-moz-document domain("kagi.com") {
//     :root {
//         --background-color: var(--main) !important;
//         --page-text-color: var(--text-color) !important;
//         --color-link: var(--link-color) !important;
//         --site_info_grade_trackers_danger_1: var(--warn) !important;
//         --site_info_grade_trackers_danger_2: var(--error) !important;
//         --domain-rank-icon-color-trackers: var(--error) !important;
//         --ranked-box-connection-secure: var(--green) !important;
//         --ranked-box-tracker-desc-clear: var(--green) !important;
//     }
// }
