@import "../COMMON/colors.scss";

//default scrollbar styling
// body {
//   scrollbar-color: $pink $main;
//   background: var(--main);
//   color: var(--text-color);
// }
//
// a {
//   color: var(--link-color);
// }
//
// em {
//   text-decoration: underline;
// }
//
// mark {
//   background-color: var(--highlight);
//   color: var(--main);
// }

/*make <blink> work*/
@keyframes --blink-anim {
  50% {
    opacity: 0;
  }
}

blink {
  animation: --blink-anim 1s step-end infinite;
}

@-moz-document url-prefix("http://rpi.seceurity.place:4433") {

  body,
  html {
    background-color: var(--main);
    color: var(--text-color);
  }

  a {
    color: var(--link-color);
  }

  code, xmp {
    color: var(--main);
  }
}

/*</blink>*/

@-moz-document domain("discord.com") {
  :root {
    --mention-background: var(--secondary) !important;
    --mention-foreground: var(--main) !important;
  }

  /*blocks the dumb ad thing*/
  aside[class="banner-3BK9qN"] {
    display: none !important;
  }

  main[class*=chatContent] {
    background: var(--main) !important;
  }

  a:not([data-list-item-id*=private-channels]) {
    color: var(--link-color) !important;
  }

  [data-list-item-id*=private-channels] * {
    color: var(--secondary) !important;
  }

  /*messages*/
  div[class*=message][class*=mentioned] {
    background: var(--warn) !important;
    border: 1px solid transparent;
    border-radius: 10px !important;
  }

  /*make mentioned text black*/
  div[class*=message][class*=mentioned] div[id*=message-content] {
    color: var(--main) !important;
  }

  div[class*=message][class*=mentioned] div[id*=message-content] code.inline {
    color: var(--leaf) !important;
  }

  /*remove weird bar on left of mentioned*/
  div[class*=message][class*=mentioned]::before {
    content: unset !important;
  }

  /*input box background*/
  [class*=channelTextArea] [class*=inner] {
    background: var(--secondary) !important;
    font-weight: bold !important;
  }

  /*chat box*/
  [class*=channelTextArea] [class*=inner] * {
    color: var(--leaf) !important;
    fill: var(--leaf) !important;
    caret-color: var(--leaf) !important;
  }

  /*emoji input*/
  [class*=emojiButton] * {
    filter: none !important;
    background-color: var(--leaf) !important;
    background-image: none !important;
    border: 1px solid transparent;
    border-radius: 50% !important;
  }

  /*channel listing*/
  #channels {
    border-right: 1px solid var(--secondary) !important;
    background-color: var(--main) !important;
  }

  /*channel names*/
  #channels li div[class*=name] {
    color: var(--secondary) !important;
    filter: brightness(190%) !important;
  }

  /*# before channel name*/
  #channels li a path {
    fill: var(--secondary) !important;
  }

  #channels li[class*=selected] a {
    background: none !important
  }

  /*when a channel is selected*/
  #channels li[class*=selected]>div>div {
    background-color: var(--secondary) !important;
  }

  #channels li[class*=selected]>div>div div[class*=name] {
    color: black !important;
  }

  #channels li[class*=selected] a path {
    fill: var(--main) !important;
  }

  /*channel name background color on hover*/
  #channels li:hover>div>div {
    background-color: var(--secondary) !important;
  }

  #channels li:hover>div>div div[class*=name] {
    color: black !important;
  }

  #channels li:hover a path {
    fill: var(--main) !important;
  }

  /*members listing*/
  aside[class*=membersWrap] {
    background: var(--main) !important;
    border-left: 1px solid var(--secondary) !important;
  }

  [class*=members] [class*=member] {
    background: none !important;
  }

  /*server header in top left*/
  nav>div[class*=container-1] {
    background-color: var(--secondary) !important;
  }

  /*channel label*/
  section[aria-label*="Channel"] {
    background: var(--main) !important;
  }
}

@-moz-document domain("news.ycombinator.com") {
  /*
     * BEGIN hackernews
     */

  :root {
    --main: #262634;
    --secondary: #646489ff;
    --secondary-bright: #9e9ed9;
    --highlight: #81C8BE;
    --link-color: var(--highlight);
    --highlight-secondary: #689C9A;
    --text-color: white;
    --warn: #F8BD96;
    --error: #7D71B7;
    --leaf: #ABE9B3;
  }

  #hnmain td[bgcolor="#ff6600"],
  #hnmain td[bgcolor="#ff6600"] * {
    color: transparent !important;
    background: transparent !important;
  }

  #hnmain td[bgcolor="#ff6600"] img {
    display: none !important;
  }

  #hnmain td[bgcolor="#ff6600"]::before {
    content: "HackerNews";
    color: var(--warn);
    margin: 10px !important;
    display: block !important;
    text-align: center;
    font-size: 1.2em;
  }

  #hnmain .comment {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
  }

  #hnmain form[action="comment"] {
    display: none !important;
  }

  #hnmain .titleline {
    font-size: 1.2em;
    font-weight: bolder;
  }

  #hnmain,
  body,
  html {
    background-color: var(--main) !important;
  }

  #hnmain * {
    color: var(--text-color) !important;
  }

  /*
     * END hackernews
     */

}

// @-moz-document domain("kagi.com") {
//     :root {
//         --background-color: var(--main) !important;
//         --page-text-color: var(--text-color) !important;
//         --color-link: var(--link-color) !important;
//         --site_info_grade_trackers_danger_1: var(--warn) !important;
//         --site_info_grade_trackers_danger_2: var(--error) !important;
//         --domain-rank-icon-color-trackers: var(--error) !important;
//         --ranked-box-connection-secure: var(--green) !important;
//         --ranked-box-tracker-desc-clear: var(--green) !important;
//     }
// }
