@import "../COMMON/colors.scss";

#msgFeedSummaryBody {
    background: $main !important;
    color: $text-color !important;
    a {
        color: $pink !important;
    }

    pre {
        background: color-mix(in srgb, $main 90%, white) !important;
    }
}
